/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  background-color: rgb(255, 193, 6);
  color: rgb(182, 12, 12);
  max-width: fit-content;
  height: fit-content;
  padding: 10px 40px;
  margin: 0 auto;
  border-radius: 7px;
}

.kolor{
  background-color: rgb(226, 163, 25);
  color: brown;
}
